/* --------------- section item --------------- */
.formItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	border-top: solid 1px black;
	position: relative;
}
.btnFinish,
.btnDelete {
	background-color: #fff;
	width: 70px;
	height: 35px;
	border: solid 1px #3498db;
	color: #3498db;
	transition: background 0.2s;
	border-radius: 5px;
	transition: background 0.3s, color 0.3s;
	cursor: pointer;
}
.btnDelete:hover,
.btnFinish:hover {
	background-color: #3498db;
	color: white;
}

.btnDelete {
	margin-right: 20px;
}
.through {
	text-decoration: line-through;
}
.displayNone {
	display: none;
}
.arrow {
	cursor: pointer;
	font-size: 18px;
	width: 25px;
	height: 25px;
	transition: font-size 0.2s;
}
.arrow:hover {
	font-size: 20px;
}
.sectionArrow{
	position: absolute;
right: 0;
}

.inputValue{
	width: 200px;
}